borg.hosts.json
*.secrets
*.log
*.tmp
*.stackdump
*.hosts.jconf
*.zip

# .NET build artifacts
Source/**/bin/
Source/**/obj/
Source/**/*.user
Source/**/*.suo
Source/**/*.cache
Source/.vs/
Source/artifacts/