borg.hosts.json
*.secrets
*.log
*.tmp
*.stackdump
*.jsecrets
*.zip
*.dev.jconf

# .NET build artifacts
Source/**/bin/
Source/**/obj/
Source/**/*.user
Source/**/*.suo
Source/**/*.cache
Source/.vs/
Source/artifacts/
bin/