{
  "module": {
    "cyborg.modules.config.map.v1": {
      "entries": [
        {
          "key": "backup_hosts",
          "collection<cyborg.types.borg.remote.v1>": [
            {
              "hostname": "backup1.service.local",
              "port": 22,
              "wake_on_lan_mac": "aa:bb:cc:dd:ee:ff",
              "borg_repo_root": "/var/backups/borg/my.client.local",
              "borg_user": "borg",
              "remote_shell": {
                "ssh_pass": {
                  "file_path": "/root/.ssh/pass",
                  "match_prompt": "assphrase"
                }
              }
            },
            {
              "hostname": "backup2.service.local",
              "port": 22,
              "wake_on_lan_mac": "11:22:33:44:55:66",
              "borg_repo_root": "/var/backups/borg/my.client.local",
              "borg_user": "borg",
              "remote_shell": {
                "ssh_pass": {
                  "file_path": "/root/.ssh/pass",
                  "match_prompt": "assphrase"
                }
              }
            }
          ]
        }
      ]
    }
  }
}